body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}

.topo {
    height: 30px;
    background-color: #333333;
    color: #FFFFFF;
}

.topo-int {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topo-left {
    width: 50%;
    height: 30px;
    float: left;
}

.topo-right {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}

.topo-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topo-left li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}

.topo-left li a {
    text-decoration: none;
    color: #FFFFFF;
}

.topo-left li .ativo {
    color: blue;
}

.topo-busca {
    width: 110px;
    height: 26px;
    outline: 0;
}

.topo-right a {
    float: right;
}

.topo-right input {
    float: right;
}

.topo-right img {
    margin-right: 4px;
}

.topo-two {
    height: 95px;
    color: #000000;
}

.topo-two-int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    width: 230px;
    height: 90px;
    float: left;
    margin-top: 5px;
}

.topo-two .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #FF0000;
}

.menu {
    height: 40px;
    background-color: #FF0000;
}

.menu-int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu li:hover .submenu {
    display: block;
}

.menu a {
    color: #FFF;
    text-decoration: none;
}
.submenu {
    width: 150px;
    background-color: #FF0000;
    position: absolute;
    display: none;
}

.submenu-item {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.submenu-item:hover {
    background-color: #FF5555;
}

.ultimas-noticias {
    height: 40px;
}

.ultimas-noticias-int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ult-noticias-area {
    height: 28px;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: 10px;
}

.ult-noticias-titulo {
    background-color: #FF0000;
    color: #FFF;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.ult-noticias-noticias {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

.container-int {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.left-side {
    width: 753px;
    float: left;
}
.right-side {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget {
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}

.widget-titulo {
    height: 30px;
    line-height: 30px;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding-left: 5px;
    font-size: 14px;
}

.widget-conteudo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.noticia-item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}

.noticia-item a {
    text-decoration: none;
    color: #000;
}

.slideshow {
    height: 335px;
    background-color: #CCC;
    overflow: hidden;
    margin-bottom: 20px;
}

.slideshow-area {
    width: 100000px;
    height: 335px;
	background-color: #DDD;
	transition: all 1s;
}

.slide {
	height:335px;
	float:left;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.slide-info {
	height:70px;
	background-image:url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top:265px;
}
.slide-info-titulo {
	font-size:20px;
	color:#FFF;
	padding-top:15px;
	padding-left: 20px;
}
.slide-info-subtitulo {
	font-size:13px;
	color:#FFF;
	padding-left: 20px;
}
.slide-bolinhas {
	position: absolute;
	width:200px;
	height:20px;
}
.bolinha {
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	background-color:#CCC;
	border-radius:10px;
}
.noticia-area1 {
	width:430px;
	height:420px;
	float:left;
}
.noticia-area2 {
	width:320px;
	height:420px;
	float:left;
}
.noticia-item-right {
	text-align:left;
	height:88px;
	margin-top:7px;
	margin-bottom:7px;
}
.noticia-img {
	width:80px;
	height:80px;
	border:1px solid #CCC;
	padding:3px;
	float:left;
}
.noticia-titulo {
	float:left;
	margin-left:6px;
	font-size:16px;
	width:226px;
	color:#000;
}
.noticia-info {
	width:226px;
	font-size:12px;
	margin-left:6px;
	color:#999;
	float:left;
}
.noticia-big {
	margin-left:10px;
}
.noticia-big .noticia-img {
	width:384px;
	height:222px;
}
.noticia-big .noticia-img img {
	width:384px;
	height:222px;
}
.noticia-big .noticia-titulo {
	width:384px;
	font-size:30px;
}
.menu-mobile {
	display:none;
}

@media only screen and (min-width:906px) and (max-width:1057px) {
    
    .topo-int, 
    .topo-two,
    .menu-int,
    .ultimas-noticias-int,
    .container-int {
		max-width:890px;
	}

	#menu {
		display:block !important;
	}

	.left-side {
		width:600px;
	}
	.noticia-area1 {
		width:278px;
	}
	.noticia-big .noticia-img {
		width:245px;
	}
	.noticia-big .noticia-img img {
		width:245px;
	}
	.noticia-big .noticia-titulo {
		width: 245px;
    	font-size: 25px;
	}

}

@media only screen and (min-width:783px) and (max-width:906px) {

/*    Tablet*/
    
	.topo-int, 
    .topo-two,
    .menu-int,
    .ultimas-noticias-int,
    .container-int {
		max-width:768px;
	}

	.topo-two .banner {
		display:none;
	}

	#menu {
		display:block !important;
	}

	.logo {
		float:none;
		margin:auto;
	}

	.right-side {
		display:none;
	}

	.left-side {
		float:none;
		width:auto;
	}

	.noticia-area1 {
		width:446px;
	}
	.noticia-big .noticia-img {
		width:415px;
	}
	.noticia-big .noticia-img img {
		width:415px;
	}
	.noticia-big .noticia-titulo {
		width: 415px;
    	font-size: 25px;
	}

}

@media only screen and (max-width:783px) {

	.topo-int,
	.topo-two-int,
	.menu-int,
	.ultimas-noticias-int,
	.container-int {
		max-width:320px;
	}

	.topo-left {
		display:none;
	}
	.topo-right {
		width:100%;
	}

	.topo-two .banner {
		display:none;
	}

	.logo {
		float:none;
		margin:auto;
	}

	.menu-mobile {
		display:block;
	}

	.menu ul {
		position:absolute;
		background-color: red;
		z-index: 10;
		display:none;
	}
	.menu li {
		float:none;
		height:auto;
	}
	.menu li img {
		display:none;
	}
	.submenu {
		position:static;
		display:block;
	}

	.ultimas-noticias {
		display:none;
	}

	.right-side {
		display:none;
	}

	.left-side {
		float:none;
		width:auto;
		margin-top:10px;
	}

	.noticia-area1 {
		width:320px;
		height:auto;
	}
	.noticia-big .noticia-img {
		width:290px;
	}
	.noticia-big .noticia-img img {
		width:290px;
	}
	.noticia-big .noticia-titulo {
		width: 290px;
    	font-size: 25px;
	}

	.noticia-area2 {
		width:300px;
		margin:auto;
		float:none;
		clear:both;
		padding-top:20px;
	}
	.noticia-item {
		clear:both;
	}
	.noticia-titulo {
		width:206px;
	}
	.noticia-info {
		width:206px;
	}
}